* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 body{
    scroll-behavior: smooth;
 }
html,
body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    min-height: 100vh;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center center;
    z-index: -2;
}

.hero-content {
    position: absolute;
    z-index: 1;
    color: white;
    margin-top: 100px;
    max-width: 700px;
    left: 10%;
}

#title-word {
    color: rgb(255, 191, 0);
}

;

#title,
#subtitle {
    margin-left: 0;
    margin-right: 0;
}

#title {
    font-size: 40px;
}

#subtitle {
    font-size: 16px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#logo {
    height: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.menu-div {
    font-size: 18px;
    width: 600px;
    display: inline-flex;
    justify-content: space-around;
    padding-top: 10px;
}

a {
    display: inline;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 191, 0);
    cursor: pointer;
}

/*---------------------------ABOUT-SECTION------------------------------*/

#about-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#about-title {
    font-family: "Great Vibes", cursive;
    font-size: 34px;
    color: rgb(255, 191, 0);
    margin-bottom: 20px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#about-text {
    text-align: center;
    font-size: 18px;
    max-width: 700px;
    width: 100%;
    margin-bottom: 40px;
}

.div-cards {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.card {
    width: 300px;
    height: 120px;
    border: 3px, solid, rgb(255, 191, 0);
    border-radius: 10px;
}

.material-symbols-rounded {
    color: rgb(255, 191, 0);
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 32;
}

.card-icon {
    font-size: 40px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

#card-text {
    padding-top: 10px;
    text-align: center;
}

/*---------------------------PRODUCT SECTION------------------------*/
#product-section {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: #FEEAC9;

}

#products-title {
    position: absolute;
    margin-top: 50px;
    right: 50%;
    left: 48%;
    transform: translateX(-50%);
    font-family: "Great Vibes", cursive;
    font-size: 34px;
    color: rgb(255, 191, 0);
    z-index: 100;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.product-one-container {
    position: relative;
    min-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    overflow: hidden;
    scroll-snap-align: start;

}

.product-one-container img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.product-one-container p {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 400px;
    z-index: 3;
    color: white;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.1);
    padding: 6px 12px;

}

.product-one-container h2 {
    color: white;
    font-weight: 200;
    font-size: 40px;
    padding-top: 20px;
    position: absolute;
    z-index: 3;
    bottom: 100px;
    right: 30px;
}

.products-container {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
}

.product-one-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/*---------------------GALLERY SECTION----------------------------*/

#gallery-section {
    background-image: linear-gradient(#ffffff, #f5c151);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 10px;
}

.gallery-image {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    margin: 5px 10px;
}

.gallery-image:hover {
    cursor: pointer;
    border: 4px, solid, #f5c151;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.gallery-btn {
    all: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 32px;
    font-size: 34px;
    font-weight: 600;
    font-family: "Great Vibes", cursive;
    color: rgb(255, 191, 0);
    z-index: 10;
}

.gallery-btn:hover {
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 50px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

/*------------------------OUR LOCATIONS------------------------------*/

#our-locations {
    display: block;
}

/* -------------first location--------------*/
.first-location {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}

.card1 {
    width: 400px;
    height: 400px;
    border: solid, 1px, rgb(6, 0, 90);
    border-radius: 200px;
    overflow: hidden;
}

.text1 {
    text-align: right;
}

.pictures-div1 img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.text1 h1,
.text2 h1,
.text3 h1,
.text4 h1 {
    font-family: "Great Vibes", cursive;
    font-size: 34px;
    color: rgb(255, 191, 0);
    padding-right: 15px;
}

/* -------------second location-------------*/
.second-location {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.card2 {
    width: 400px;
    height: 400px;
    border: solid, 1px, rgb(6, 0, 90);
    border-radius: 200px;
    overflow: hidden;
}

.pictures-div2 img {
    width: 150px;
    height: 150px;
    border-radius: 12px;

}

/* -------------third location-------------*/
.third-location {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.card3 {
    width: 400px;
    height: 400px;
    border: solid, 1px, rgb(6, 0, 90);
    border-radius: 200px;
    overflow: hidden;
}

.text3 {
    text-align: right;
}

.pictures-div3 img {
    width: 150px;
    height: 150px;
    border-radius: 12px;

}

/* ------------fourth location-------------*/
.fourth-location {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 75px;
}

.card4 {
    width: 400px;
    height: 400px;
    border: solid, 1px, rgb(6, 0, 90);
    border-radius: 200px;
    overflow: hidden;
}

.pictures-div4 img {
    width: 150px;
    height: 150px;
    border-radius: 12px;

}

iframe {
    width: 100%;
    height: 100%;
}

/*----------------------------Footer--------------------------------*/

footer {
    min-height: 300px;
    background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
}

.stars {
    width: 1px;
    height: 1px;
    position: absolute;
    background: white;
    box-shadow: 2vw 5vh 2px white, 10vw 8vh 2px white, 15vw 15vh 1px white,
        22vw 22vh 1px white, 28vw 12vh 2px white, 32vw 32vh 1px white,
        38vw 18vh 2px white, 42vw 35vh 1px white, 48vw 25vh 2px white,
        53vw 42vh 1px white, 58vw 15vh 2px white, 63vw 38vh 1px white,
        68vw 28vh 2px white, 73vw 45vh 1px white, 78vw 32vh 2px white,
        83vw 48vh 1px white, 88vw 20vh 2px white, 93vw 52vh 1px white,
        98vw 35vh 2px white, 5vw 60vh 1px white, 12vw 65vh 2px white,
        18vw 72vh 1px white, 25vw 78vh 2px white, 30vw 85vh 1px white,
        35vw 68vh 2px white, 40vw 82vh 1px white, 45vw 92vh 2px white,
        50vw 75vh 1px white, 55vw 88vh 2px white, 60vw 95vh 1px white,
        65vw 72vh 2px white, 70vw 85vh 1px white, 75vw 78vh 2px white,
        80vw 92vh 1px white, 85vw 82vh 2px white, 90vw 88vh 1px white,
        95vw 75vh 2px white;
    animation: twinkle 8s infinite linear;
}

#ftr-message {
    font-family: "Great Vibes", cursive;
    font-size: 34px;
}

#ftr-wrd {
    color: rgb(255, 191, 0);
}


footer p {
    text-decoration: underline;
    margin-top: 10px;
    font-size: 18px;
}
.social-medias img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.contact-icon img {
    width: 70px;
    height: 70px;
}
.contact-icon{
    display: inline-flex;
    justify-content: end;
    z-index: 3;
    margin-right: 5%;
}
.footer-second-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.footer-first-part{
    display: inline-flex;
    justify-content: space-between;
    margin: 5%;
}

/* ----------------sidebar---------------------*/

.contact-sidebar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    right: -500px; 
    width: 500px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    box-shadow: -5px 0 15px rgba(0,0,0,0.2);
    padding: 30px;
    transition: right 0.4s ease;
    z-index: 1001;

}
.contact-sidebar.active{
    right: 0px;
}
.contact-sidebar::-webkit-scrollbar {
  display: none;
}

.contact-info{
    text-align: center;
    width: 400px;
}
.contact-info p{
    font-size: 14px;
}
.mail-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}
.mail-info label{
    text-align: left;
}
textarea {
    font-size: 16px;
    height: 200px;
    font-size: large;
    border: 1px, solid, black;
    border-radius: 10px;
    padding: 10px 15px;
}
.mail-info input{
    font-size: 16px;
    border: 1px, solid, black;
    border-radius: 10px;
    height: 30px;
    padding: 10px 15px;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
  overflow: hidden;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}